.mainContainer{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.insideUser {
    width: 300px;
    height: 100px;
    padding: 50px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }